*.auto.tfvars
*.backup
*.bak
*.tfoverride
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
*~
.*.swp
.envrc
.terraform.tfstate.lock.info
.terraform/
.terraformrc
.terraformrc
override.tf
override.tf.json
terraform.rc
terraform.rc
tmp
